h1 {
    text-align: center;
}
/*  Home page */
#wild-garden {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/21/01/12/chrysanthemum-4143241__340.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%
}
.collapsible-body {
background-color: greenyellow;
}
#people-projects {
  color: white;
  text-align: center;
  text-decoration: underline;
}
.home-bar {
  background-color: rgb(206, 119, 119);
}
#reset-buttn{
  background-color: rgb(206, 119, 119);
  color: #ffffff;
  height: 36px;
  width: 120px;
  border-radius: 2px;
  float: left;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 40px;
}
.input-field {
  background-color:rgba(0, 0, 0, 0.8);
}
/* Wildlife surveys page */
#surveys-sunflower {
  background-image: url('https://cdn.pixabay.com/photo/2016/09/04/12/05/sun-flower-1643795_960_720.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%
}

.survey-link a {
    color: white;
    text-decoration: underline;
}

.survey-link {
  width: 300px;
  height: 20px;
  border-radius: 5px;
  background-color: brown;
}
.short {
  width: 160px;
}
#words {
  margin-top: 15px;
  width: 150px;
  height: auto;
  font-weight: 700;
}

#space {
  height: 100px;
  width: 100px;
}
.survey-bar {
  background-color: brown;
}
#survey-title {
  font-weight: 700;
  text-align: center;
}
#login-statement {
  color: white;
  width: 200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding-left: 20px;
  float: right
}
/*  People's projects */
#bug-shelter {
  background-image: url(https://cdn.pixabay.com/photo/2018/04/22/11/05/background-3340740_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%
}
.grey-collapsible {
  background-color: lightgrey;
}
#project-title {
  width: 400px;
  height: 60px;
  border-radius: 5px;
  background-color: rgb(75, 43, 4);
  color: whitesmoke;
  margin: auto;
}
.peoplesprojects-bar {
  background-color: darkolivegreen;
}
/* Create account page */
#account-pic {
   background-image: url(https://cdn.pixabay.com/photo/2018/07/29/21/32/flowers-3571119_960_720.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%
}
.createaccount-bar {
  background-color: darkred;
}
#create-account {
  background-color: rgba(0, 0, 0, 0.8);
  width: 450px;
  height: auto;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}
/* Login page */
#login-pic {
   background-image: url(https://cdn.pixabay.com/photo/2018/07/15/00/39/flowers-3538726_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%
}
.login-bar {
  background-color: darkgreen;
}
#login-title {
  background-color: rgba(0, 0, 0, 0.8);
  width: 200px;
  height: auto;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}
/* Welcome page */
.welcome-bar {
  background-color: purple;
}
#welcome-message {
  height: 100px;
  width: 300px;
  background-color: white;
  margin: auto;
  font-size: 30px;
  text-align: center;
}
#welcome-title {
  background-color: rgba(0, 0, 0, 0.8);
  width: 300px;
  height: auto;
  color: white;
  font-weight: 700;
  text-align: center;
  border-radius: 5px;
  margin: auto;
}
/* Profile page */
.profile-bar {
  background-color: darkolivegreen;
}
#profile-background {
  background-color: lemonchiffon;
}
#profile-description {
  width: 400px;
  height: 400px;
  float: left;
}
#profile-title {
  font-weight: 700;
  text-align: center;
}
/* Projects page */
.project-bar {
  background-color: rgb(63, 5, 5);
}
#project-background {
  background-color: rgb(192, 247, 192);
}
#projects-title {
  font-weight: 700;
  text-align: center;  
}
/* Logout page */
.logout-bar {
  background-color: darkblue;
}
#logout-background {
  background-color: lightcyan;
}
/* Manage categories page */
#reset-button-manage{
  background-color: orangered;
  color: #ffffff;
  height: 36px;
  width: 120px;
  border-radius: 2px;
  float: left;
  margin-left: 20px;
  padding-top: 5px;
  padding-left: 40px;
}
.yellow-collapsible {
  background-color: lemonchiffon;
}