#base-background {
  background-color: greenyellow;
}

#login-statement {
  color: white;
  width: 200px;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding-left: 20px;
  float: right;
  margin-right: 20px;
}
#space {
  height: 40px;
  width: 100px;
}
button {
  width: 170px;
}
/*  Home page */
#home-title {
  text-align: center;
  color: black;
  font-weight: 700;
}

#wild-garden {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/21/01/12/chrysanthemum-4143241__340.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

.input-field {
  background-color: rgba(0, 0, 0, 0.8);
}
#no-results-found {
  background-color: yellowgreen;
  border: solid black 2px;
}
/* Wildlife surveys page */

.survey-link {
  border-radius: 5px;
  background-color: brown;
  margin-top: 30px;
  padding-left: 20px;
}

#survey-title {
  font-weight: 700;
  text-align: center;
}

@media screen and (min-width: 601px) {
  #surveys-sunflower {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/04/12/05/sun-flower-1643795_960_720.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
    border: solid black 2px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  #surveys-sunflower {
    background-image: none;
    background-color: yellow;
    border: solid black 2px;
    margin-bottom: 20px;
  }
}

/*  People's projects */
#bug-shelter {
  background-image: url(https://cdn.pixabay.com/photo/2018/04/22/11/05/background-3340740_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

#people-title {
  color: black;
  text-align: center;
  font-weight: 700;
}

/* Create account page */
#account-title {
  font-weight: 700;
  text-align: center;
}
#account-pic {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/29/21/32/flowers-3571119_960_720.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

input {
  color: aliceblue;
}

#create-account-message {
  background-color: aliceblue;
  font-size: large;
  font-weight: 600;
}

#create-button {
  width: 200px;
}

#create-submit-border {
  padding: 3px 3px 3px 3px;
}

/* Login page */
#login-pic {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/15/00/39/flowers-3538726_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

#login-title {
  font-weight: 700;
  text-align: center;
}

#login-message {
  background-color: aliceblue;
  font-size: large;
  font-weight: 600;
}

#login-submit-border {
  padding: 3px 3px 3px 3px;
}
/* profile */
#profile-box {
  border: solid black 2px;
}
#profile-username {
  font-weight: 700;
}
/* categories */
#categories-title {
  font-weight: 700;
  text-align: center;
}
#categories-border {
  border: solid black 2px;
}
#add-category-button {
  margin-left: 25px;
  margin-top: 25px;
}
/* contact users */
#contact-users {
  font-weight: 700;
}
#contactuser-border {
  border: solid black 2px;
}