#base-background {
  background-color: greenyellow;
}
.nav-menu:active {
  color: greenyellow;
}
.nav-minimenu:active {
  color: green;
}
#login-statement {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
#garden-products {
  font-weight: 700;
  font-size: x-large;
  text-decoration: underline;
  margin: auto;
  margin-top: 20px;
}
#space {
  height: 40px;
  width: 100px;
}
.pad-text {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 3px;
}
/* footer */
#footer-icons {
  font-size: 25px;
  margin-top: 20px;
}
#email-admin {
  font-weight: 700;
  font-size: large;
  text-decoration: underline;
  margin: auto;
  margin-top: 20px;

}
/*  Home page */
#home-title {
  text-align: center;
  color: black;
  font-weight: 700;
}
#wild-garden {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/21/01/12/chrysanthemum-4143241__340.jpg');
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}
#no-results-found {
  background-color: yellowgreen;
  border: solid black 2px;
}
.mission-statement {
  font-weight: 700;
  margin-bottom: 20px;
}
/* Wildlife surveys page */
.survey-link {
  color: black;
  text-decoration: underline;
  font-weight: 700;
}
#survey-title {
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 601px) {
  #surveys-sunflower {
    background-image: url('https://cdn.pixabay.com/photo/2016/09/04/12/05/sun-flower-1643795_960_720.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 100%;
    border: solid black 2px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  #surveys-sunflower {
    background-image: none;
    background-color: yellow;
    border: solid black 2px;
    margin-bottom: 20px;
  }
}
.survey-margin {
  margin-top: 10px;
}
/*  People's projects */
#bug-shelter {
  background-image: url(https://cdn.pixabay.com/photo/2018/04/22/11/05/background-3340740_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

#people-title {
  color: black;
  text-align: center;
  font-weight: 700;
}

/* Create account page */
#account-title {
  font-weight: 700;
  text-align: center;
}
#account-pic {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/29/21/32/flowers-3571119_960_720.jpg);
  background-repeat: repeat-y;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}

/* Login page */
#login-pic {
  background-image: url(https://cdn.pixabay.com/photo/2018/07/15/00/39/flowers-3538726_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border: solid black 2px;
}
#login-title {
  font-weight: 700;
  text-align: center;
}
.txt-background {
  background-color: rgba(0, 0, 0, 0.8);
}
/* profile */
.border-box {
  border: solid black 2px;
}
#profile-username {
  font-weight: 700;
}
/* categories */
#categories-title {
  font-weight: 700;
  text-align: center;
}
#categories-border {
  border: solid black 2px;
}
/* contact users */
#contact-users {
  font-weight: 700;
}
#contactuser-border {
  border: solid black 2px;
}