{% extends "base.html" %}
{% block content %}
<h3 id="survey-title">Add Project</h3>
<section>
    <div class="row card-panel grey lighten-5 border-box">
        <form class="col s12" method="POST" action="{{ url_for('addownproject') }}">
            <div class="row">
                <!-- category selection -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-folder-open prefix green-text text-darken-4"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="category_name">Choose Category</label>
                    </div>
                </div>
                <!-- task name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="task_name" name="task_name" minlength="5" maxlength="50"
                            type="text" class="validate" required>
                        <label for="task_name">Task Name</label>
                    </div>
                </div>
                <!-- task description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                        <textarea id="task_description" name="task_description" minlength="5"
                            maxlength="400" class="materialize-textarea validate" required></textarea>
                        <label for="task_description">Task Description</label>
                    </div>
                </div>
                <!-- estimated cost -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="estimated_cost" name="estimated_cost" minlength="1" maxlength="10" type="text"
                            class="validate" required>
                        <label for="estimated_cost">Estimated Cost</label>
                    </div>
                </div>
                <!-- estimated time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="estimated_time" name="estimated_time" minlength="1" maxlength="10" type="text"
                            class="validate" required>
                        <label for="estimated_time">Estimated Time</label>
                    </div>
                </div>
                <!-- image -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="image_url" name="image_url" minlength="5" maxlength="100" type="text"
                            class="validate" required>
                        <label for="image_url">Add image as a url</label>
                    </div>
                </div>
                <!--image description-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="image_description" name="image_description" minlength="3" maxlength="15" type="text"
                            class="validate" required>
                        <label for="image_description">Add image description</label>
                    </div>
                </div>
                <!-- toggle switch -->
                {% if session.user|lower == "Admin"|lower %}
                <!-- on homepage toggle -->
                <div class="row">
                    <div class="input-field col s12">
                        <div class="switch">
                            <label for="on_homepage">
                                <input type="checkbox" id="on_homepage" name="on_homepage">
                                <span class="lever"></span>
                                On homepage
                            </label>
                        </div>
                    </div>
                </div>
                {% endif %}
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large grey darken-4 text-shadow">
                            Add Task <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
{% endblock %}