{% extends "base.html" %}
{% block content %}
<h3 id="survey-title">Edit Project</h3>
<section id="add-category_background">

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_task_pps', peoplesproject_id=peoplesproject._id) }}">
            <div class="row">
                <!-- category selection -->
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                        <option value="" disabled>Choose Category</option>
                        {% for category in categories %}
                        {% if category.category_name == peoplesproject.category_name %}
                        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                        {% else %}
                        <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                    <label for="category_name">Choose Category</label>
                </div>
                <!-- task name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="task_name" name="task_name" minlength="5" maxlength="50"
                         value="{{ peoplesproject.task_name }}" type="text" class="validate"required>
                        <label for="task_name">Task Name</label>
                    </div>
                </div>
                <!-- task description -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix light-green-text text-darken-4"></i>
                        <textarea id="task_description" name="task_description" minlength="5" maxlength="200"
                            class="materialize-textarea validate" required>
                            {{- peoplesproject.task_description -}}
                        </textarea>
                        <label for="task_description">Task Description</label>
                    </div>
                </div>
                <!-- estimated cost -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="estimated_cost" name="estimated_cost" minlength="1" maxlength="10" type="text" value="{{ peoplesproject.estimated_cost }}"
                            class="validate" required>
                        <label for="estimated_cost">Estimated Cost</label>
                    </div>
                </div>
                <!-- estimated time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="estimated_time" name="estimated_time" minlength="1" maxlength="10" type="text" value="{{ peoplesproject.estimated_time }}"
                            class="validate" required>
                        <label for="estimated_time">Estimated Time</label>
                    </div>
                </div>
                <!-- due date picker -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-calendar-alt prefix light-green-text text-darken-4"></i>
                        <input id="due_date" name="due_date" type="text" value="{{ peoplesproject.due_date }}" class="datepicker validate" required>
                        <label for="due_date">Due Date</label>
                    </div>
                </div>
                <!-- image -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="image_url" name="image_url" minlength="5" maxlength="100" type="text" value="{{ peoplesproject.image_url }}"
                            class="validate" required>
                        <label for="image_url">Add image as a url</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-pencil-alt prefix light-green-text text-darken-4"></i>
                        <input id="image_description" name="image_description" minlength="3" maxlength="15" type="text" value="{{ peoplesproject.image_description }}"
                            class="validate" required>
                        <label for="image_description">Add image description</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large grey darken-4 text-shadow">
                            Edit Task <i class="fas fa-edit right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>
{% endblock %}