{% extends "base.html" %}
{% block content %}
<h3 id="login-title">Login</h3>
<section id="login-pic">

  <!--Form from text inputs from Marginalize 1.0.0-->
  <div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
      <!--Name-->
      <div class="row">
        <div class="input-field txt-background col s12">
          <input id="username" name="username" type="text" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
            class=" white-text validate" required>
          <label for="username">Username</label>
        </div>
      </div>
      <!--Password-->
      <div class="row">
        <div class="input-field txt-background col s12">
          <input id="password" name="password" type="password" minlength="5" maxlength="15"
            pattern="^[a-zA-Z0-9]{5,15}$" class=" white-text validate" required>
          <label for="password">Password</label>
        </div>
      </div>
      <!--Log In-->
      <div class="row">
        <div class="col s8 offset-s2"></div>
        <button type="submit" class="col s12 txt-background">
          <p class="center-align white-text">
            Log In <i class="fas fa-sign-in-alt"></i><br>
          </p>
        </button>
      </div>
  </div>
  </form>
  </div>
  <!--Create account if new user-->
  <div class="row">
    <div class="col s8 offset-s2 txt-background">
      <p class="center-align white-text">
        New here?<br>
        <a href="{{ url_for('createaccount') }}" class="light-green black-text">Create Account</a>
      </p>
    </div>
  </div>
</section>
{% endblock %}