{% extends "base.html" %}
{% block content %}
<h3 id="people-title">People's Projects</h3>
<section id="bug-shelter">

    <div class="row">
        <div class="input-field col s10 m10 offset-s1 offset-m1">
            <i class="fas fa-search prefix light-green-text text-darken-4"></i>
            <input type="text" name="query" id="query" minlength="3" class="validate" required>
            <label for="query">Search Categories</label>
        </div>
        <div>
            <button class="btn deep-orange col s2 offset-s1">
                Reset
            </button>
            <button type="submit" class="light-green btn text-shadow col s2 offset-s1">
                <i class="fas fa-search left"></i> Search
            </button>
        </div>
    </div>

    <div class="row">
        <ul class="collapsible grey-collapsible col s9 m9 offset-s1 m9 offset-m1">
            {% for peoplesproject in peoplesprojects %}
            <li>
                <div class="collapsible-header white-text brown darken-1 text-shadow row">
                    <div>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col s9">
                        <img src="{{ peoplesproject.url }}" alt="{{ peoplesproject.alt }}" height="40" width="auto">
                        <strong>{{ peoplesproject.category_name }}</strong>
                    </div>
                </div>
                <div class="collapsible-body grey-collapsible">
                    <div class="row">
                        <ul class="collapsible grey-collapsible col s9 m9 offset-s1 m9 offset-m1">
                            <li>
                                <div class="collapsible-header white-text brown darken-1 text-shadow row">
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="col s9">
                                        <strong>{{ peoplesproject.task_name }}</strong>
                                    </div>
                                </div>
                                <div class="collapsible-body grey-collapsible">
                                    <strong>{{ peoplesproject.task_name }}</strong>
                                    <p>description</p>
                                    <p><em>by: created by</em></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button class="btn-small green add-own"><a href="{{ url_for('addownproject') }}">Add Own
                            Project</a></button>
                    <button class="btn-small green">Edit project</button>
                    <button class="btn-small red lighten-1"><a href="{{ url_for('delete_project', peoplesproject_id=peoplesproject._id) }}">Delete project</a></button>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</section>
{% endblock %}