{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col s12 m8 offset-m2">
        <h3 class="center-align" id="profile-username">
            {{ username }}'s Profile
        </h3>
    </div>
</div>
<div class="center-align">
    <h4>This page lists all the projects that the user has contributed</h4>
</div>
<section class="border-box" class="grey darken-4">
    {% for task in tasks %}
    {% if task.created_by == session.user %}
    <div class="row">
        <ul class="collapsible white col s12 m10 offset-m1">
            <li>
                <div class="collapsible-header white-text brown darken-4 text-shadow row">
                    <div class="col s12">
                        <img src="{{ task.image_url }}" alt="{{ task.image_description }}" height="40" width="40">
                        <strong><em>{{ task.category_name }}</em> - {{ task.task_name }}</strong>
                    </div>
                    <div class="col s2 m2 right-align">
                        <i class="fas fa-caret-down"></i>
                    </div>
                </div>
                <div class="collapsible-body">
                    <em>Description:</em><span> {{ task.task_description }}</span><br>
                    <em>Estimated Cost:</em><span> {{ task.estimated_cost }}</span><br>
                    <em>Estimated Time:</em><span> {{ task.estimated_time }}</span><br>
                    <em>Created By:</em><span> {{ task.created_by }}</span>
                </div>
            </li>
            <li>
                <button class="btn-small light-green col s4 m4 center-align">
                    <a class="white-text green darken-4 pad-text" href="{{ url_for('addownproject') }}">Add
                    </a>
                </button>
                <button class="btn-small light-green col s4 m4 center-align">
                    <a class="white-text green darken-4 pad-text" href="{{ url_for('edit_task', task_id=task._id) }}">Edit
                    </a>
                </button>
                <button class="btn-small light-green col s4 m4 center-align">
                    <a class="white-text red pad-text" href="{{ url_for('delete_task_pps', task_id=task._id) }}">Delete
                    </a>
                </button>
            </li>
        </ul>
    </div>
    {% endif %}
    {% endfor %}
</section>
{% endblock %}