{% extends "base.html" %}
{% block content %}
<h3 id="survey-title">Profile</h3>
<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <h3 class="center-align light-green-text text-darken-4">
                {{ username }}'s Profile
            </h3>
        </div>
    </div>
</div>
{% for peoplesproject in peoplesprojects %}
{% if peoplesproject.created_by == session.user %}
<div class="row">
    <ul class="collapsible grey-collapsible col s9 m9 offset-s1 m9 offset-m1">
        <li>

            <div class="collapsible-header white-text brown darken-1 text-shadow row">
                <div>
                    <i class="fas fa-caret-down"></i>
                </div>
                <div class="col s9">
                    <img src="{{ peoplesproject.url }}" alt="{{ peoplesproject.alt }}" height="40" width="auto">
                    <strong>{{ peoplesproject.category_name }}</strong>
                </div>
            </div>
            <div class="collapsible-body grey-collapsible">
                <div class="row">
                    <ul class="collapsible grey-collapsible col s9 m9 offset-s1 m9 offset-m1">
                        <li>
                            <div class="collapsible-header white-text brown darken-1 text-shadow row">
                                <div>
                                    <i class="fas fa-caret-down"></i>
                                </div>
                                <div class="col s9">
                                    <strong>{{ peoplesproject.task_name }}</strong>
                                </div>
                            </div>
                            <div class="collapsible-body grey-collapsible">
                                <strong>{{ peoplesproject.task_name }}</strong>
                                <p>description</p>
                                <p><em>by: created by</em></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <button class="btn-small green add-own"><a href="{{ url_for('addownproject') }}">Add Own
                Project</a></button>
        <button class="btn-small green"><a
                href="{{ url_for('edit_task_pps', peoplesproject_id=peoplesproject._id) }}">Edit
                project</a></button>
        <!-- Dropdown Trigger -->
        <button class='dropdown-trigger deep-orange btn-small' data-target='dropdown1'>Delete Project</button>

        <!-- Dropdown Structure -->

        <ul id='dropdown1' class='dropdown-content'>
            <li>Are you sure you want to delete this project?</li>
            <li><a href="{{ url_for('delete_project', peoplesproject_id=peoplesproject._id) }}">Delete</a></li>
            <li><a href="{{ url_for('profile', username=session['user']) }}">Cancel</a></li>
        </ul>
    </ul>
</div>

{% endif %}
{% endfor %}
{% endblock %}