{% extends "base.html" %}
{% block content %}
<h3 id="survey-title">Wildlife Surveys</h3>
<section id="surveys-sunflower">
  {% if session.user|lower == "Admin"|lower %}
  <button class="btn orange"><a class="white-text" href="{{ url_for('add_link') }}">Add Link</a></button>
  {% endif %}
  {% for survey in survey_links %}
  <div class="row">
    <div class="survey-link col s10 offset-s1 m5 offset-m1">
      <a class="white-text" href="{{survey.survey_link}}">{{ survey.survey_title }}</a><br>
    </div>
  </div>
  {% if session.user|lower == "Admin"|lower %}
  <button class="btn green"><a class="white-text" href="{{ url_for('edit_link', survey_id=survey._id) }}">Edit
      Link</a></button>
  <button class="btn deep-orange"><a class="white-text"
      href="{{ url_for('delete_link', survey_id=survey._id) }}">Delete</a></button>
  {% endif %}
  {% endfor %}
  <h5 class="yellow lighten-2 center-align">Help conservation and contribute to science by providing data for wildlife and plant surveys.
  </h5>
</section>
{% endblock %}