{% extends "base.html" %}
{% block content %}
<h3 id="survey-title">Wildlife Surveys</h3>
<h5 class="center-align mission-statement">Help conservation and contribute to science by providing data for wildlife
  and plant surveys, click links below</h5>
<section id="surveys-sunflower">
  {% for survey in survey_links %}
  <div class="row">
    <div class="col s10 offset-s1 m5 offset-m1">
      <a class="survey-link" href="{{survey.survey_link}}" target="_blank">{{ survey.survey_title }}</a><br>
      {% if session.user|lower == "Admin"|lower %}
      <ul>
        <li>
          <button class="btn-small orange darken-1 s12 m8 survey-margin"><a class="white-text pad-text green darken-4"
              href="{{ url_for('add_link') }}">Add
            </a>
          </button>
          <button class="btn-small orange darken-1 s12 m8 survey-margin"><a class="white-text pad-text green darken-4"
              href="{{ url_for('edit_link', survey_id=survey._id) }}">Edit
            </a>
          </button>
          <button class="btn-small orange darken-1 s12 m8 survey-margin"><a class="white-text pad-text red"
              href="{{ url_for('delete_link', survey_id=survey._id) }}">Delete</a>
          </button>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</section>
{% endblock %}