{% extends "base.html" %}
{% block content %}
<h1 id=home-title>Welcome to Wildlife Patch</h1>
<h5 class="mission-statement center-align">
    This website provides a set of small garden projects that support local wildlife. Browse or search for specific topics.
    While you're here, help research on wildlife by taking on of the recommended surveys or contribute new ideas to the 
    app when you log in.
</h5>
<section id="wild-garden">
    <div class="row card-panel grey darken-4">
        <form action=" {{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align light-green lighten-3">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-green-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label class="black-text" for="query">Search</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_tasks') }}" class="red btn-small text-shadow">Reset</a>
                    <button type="submit" class="green darken-4 btn-small text-shadow">
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    
<div class="row">
    {% if tasks|length > 0 %}
    <ul class="collapsible light-green col s12 m10 offset-m1">
        {% for task in tasks %}
        {% if task.on_homepage == "on" %}
        <li>
            <div class="collapsible-header white-text grey darken-4 text-shadow row">
                <div class="col s12">
                    <img src="{{ task.image_url }}" alt="{{ task.image_description }}" height="40" width="40">
                    <strong><em>{{ task.category_name }}</em> - {{ task.task_name }}</strong>
                </div>
                <div class="col s2 m2 right-align">
                    <i class="fas fa-caret-down"></i>
                </div>
            </div>
            <div class="collapsible-body">
                <em>Description:</em><span> {{ task.task_description }}</span><br>
                <em>Estimated Cost:</em><span> {{ task.estimated_cost }}</span><br>
                <em>Estimated Time:</em><span> {{ task.estimated_time }}</span><br>
            </div>
        </li>
        <li>
            {% if session.user|lower == "Admin"|lower or task.created_by == session.user %}
            <button class="light-green lighten-3 col s4 m4 btn-small">
                <a class="white-text green darken-4 pad-text" href="{{ url_for('addownproject') }}">Add
                </a>
            </button>
            <button class="light-green lighten-3 col s4 m4 btn-small">
                <a class="white-text green darken-4 pad-text" href="{{ url_for('edit_task', task_id=task._id) }}">Edit
                </a>
            </button>
            <button class="light-green lighten-3 col s4 m4 btn-small">
                <a class="white-text red pad-text" href="{{ url_for('delete_task', task_id=task._id) }}">Delete
                </a>
            </button>
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% else %}
    <div id="no-results-found" class="col s6 offset-s3">
        <h1 class="deep-orange-text text-darken-4 center-align">No Results Found</h1>
    </div>
    {% endif %}
</div>
</section>
{% endblock %}