{% extends "base.html" %}
{% block content %}
<div id="people-projects">
    <h1 id=home-title>Wildlife Patch</h1>
</div>
<section id="wild-garden">

    <div class="row">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8 offset-s1 offset-m1">
                    <i class="fas fa-search prefix light-green-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search Tasks</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_tasks') }}" class="deep-orange btn text-shadow">Reset</a>
                    <button type="submit" class="light-green darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>


    <!--categories-->
    <div class="row">
        {% if tasks|length > 0 %}
        <ul class="collapsible green-collapsible col s9 offset-s1 m9 offset-m1">
            {% for task in tasks %}
            {% if task.on_homepage == "on" %}
            <li>
                <div class="collapsible-header white-text green darken-1 text-shadow row">
                    <div>
                        <i class="fas fa-caret-down"></i>
                    </div>
                    <div class="col s9">
                        <img src="{{ task.url }}" alt="{{ task.alt }}" height="40" width="auto">
                        <strong>{{ task.category_name }}</strong>
                    </div>
                </div>
                <div class="collapsible-body green-collapsible">
                    <div class="row">
                        <ul class="green-collapsible collapsible col s9 m9 offset-s1 m9 offset-m1">
                            <li>
                                <div class="collapsible-header white-text green darken-1 text-shadow row">
                                    <div>
                                        <i class="fas fa-caret-down"></i>
                                    </div>
                                    <div class="col s9">
                                        <strong>{{ task.task_name }}</strong>
                                    </div>
                                </div>
                                <div class="collapsible-body green-collapsible">
                                    <strong>{{ task.task_name }}</strong>
                                    <strong>{{ task.task_description }}</strong>
                                    <strong>{{ task.created_by }}</strong>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </li>
            {% if session.user|lower == "Admin"|lower %}
            <button class="btn-small green add-own"><a href="{{ url_for('addownproject') }}">Add Own
                    Project</a></button>
            <button class="btn-small green"><a href="{{ url_for('edit_task', task_id=task._id) }}">Edit
                    project</a></button>
            <!-- Dropdown Trigger -->
            <button class='dropdown-trigger deep-orange btn-small' data-target='dropdown1'>Delete Project</button>

            <!-- Dropdown Structure -->

            <ul id='dropdown1' class='dropdown-content'>
                <li>Are you sure you want to delete this project?</li>
                <li><a href="{{ url_for('delete_task', task_id=task._id) }}">Delete</a></li>
                <li><a href="{{ url_for('get_tasks') }}">Cancel</a></li>
            </ul>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ul>
        {% else %}
        <div id="no-results-found" class="col s6 offset-s3">
            <h1 class="deep-orange-text text-darken-4 center-align">No Results Found</h1>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}